
{% extends "base.html" %}
{% load static %}

{% block content %}  
<div class="main-content">

    <div class="page-content">

        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h4 class="page-title mb-1">Loyalty card</h4>
                    </div>
                </div>

            </div>
        </div>
        <!-- end page title end breadcrumb 

        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="header-title mb-4">Loyalty card</h5>

                                <form id="add-user">
                                    <div class="row align-items-end">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="first_name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Surname</label>
                                                <input type="text" name="last_name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" name="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Card number</label>
                                                <input type="text" name="number" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>-->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="header-title mb-4">Staff</h5>

                                <div class="table-responsive">
                                    <table class="table table-centered table-hover mb-0" id="table-list">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Card number</th>
                                            <th scope="col">Created at</th>
                                            <th scope="col">Active</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% comment %}
                                        @foreach($staffs as $user)
                                        <tr>
                                            <th scope="row">{{ $user->id_user }}</th>
                                            <td>{{ $user->first_name }} {{ $user->last_name }}</td>
                                            <td>{{ $user->email ?? '' }}</td>
                                            <td>
                                                <div class="badge badge-soft-primary">
                                                    {{ ucfirst($user->level) }}
                                                </div>
                                            </td>
                                            <td>{{ $user->affiliation_code ?? '' }}</td>
                                            <td>{{ \Carbon\Carbon::parse($user->created_at)->format('d.m.Y') }}</td>
                                            <td class="text-right">
                                                <div class="btn-group mt-1 mr-1 dropleft">
                                                    <button type="button" class="btn btn-sm btn-outline-secondary waves-effect waves-light dropdown-toggle no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-fw fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu" style="">
                                                            <a class="dropdown-item" href="/staff-management/{{ $user->id_user }}/modifica">Modifica</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        @endforeach
                                        {% endcomment %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- end page-content-wrapper -->
        </div>

    </div>

</div>
    {% comment %}

    <script>
        (function(){

            $('#table-list').DataTable();


            $('#genera-pwd').click(function(){
                $('[name="password"]').val(Math.random().toString(36).slice(-8));
            });

            $('#add-user').submit(function(e){
                e.preventDefault();

                window.LOADER.show();

                axios.post('{{ env('API_URL') }}/admin/user/create', $(this).serializeObject())
                    .then(function(){

                        alertify.success('Staff Aggiunto');
                        window.location.reload();
                    })
                    .catch(function(){

                        window.LOADER.hide();
                        alertify.error('Impossibile aggiungere lo staff');
                    })
            });


            $(document)
                .on('click','.action-blacklist, .action-unblacklist', function(e){

                    e.preventDefault();


                    var $this = $(this),
                        isBlocked = $(this).hasClass('action-blacklist'),
                        text = isBlocked ? 'Bloccare' : 'Sbloccare',
                        // conf = confirm(text + " l'utente?"),
                        self = $(this);

                    Swal.fire({
                        title: text + " l'utente?",
                        // text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: !0,
                        confirmButtonColor: "#3ddc97",
                        cancelButtonColor: "#f46a6a",
                        confirmButtonText: "Conferma",
                        cancelButtonText: "Annulla"
                    }).then(function (t) {

                        if( t.value )
                        {


                            window.LOADER.show();
                            axios.post($this.attr('href')+'?blacklist='+(isBlocked ? 1 : 0))
                                .then(function(){
                                    // window.LOADER.hide();
                                    // self.toggleClass('btn-danger btn-info');
                                    // self.find('i').toggleClass('fa-lock fa-lock-open');
                                    alertify.success("Stato utente aggiornato");
                                    window.location.reload()

                                })
                                .catch(function(err){

                                    console.log(err);

                                    window.LOADER.hide();

                                    alertify.error("Impossibile aggiornare lo stato");
                                })

                        }
                        // t.value && Swal.fire("Deleted!", "Your file has been deleted.", "success")
                    });

                });

        })()
    </script>
    {% endcomment %}

{% endblock content%}
