
{% extends "base.html" %}
{% load static %}

{% block content %}
{% block title %} Login {% endblock %}

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <h5 class="font-size-16 text-white-50 mb-4">DE Management Dashboard</h5>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-xl-5 col-sm-8">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="p-2">
                                <h5 class="mb-5 text-center">Login to your account</h5>
                                <form class="form-horizontal" action="doLogin" id="login-form">

                                    <div class="row">
                                        <div class="col-md-12">
                                            {% for message in messages %}
                                                <p id="messages">{{message}}</p>
                                            {% endfor %}
                                            <form method="get" action="login">
                                                <div class="form-group form-group-custom mb-4">
                                                    <input type="text" class="form-control" placeholder="Username" id="username" name="username" required>
                                                </div>

                                                <div class="form-group form-group-custom mb-4">
                                                    <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
                                                </div>

                                                <a href="doLogin">                        
                                                    <button type="submit" class="btn btn-primary">Login</button>
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>

    {% comment %}
    <script>
        (function(){

            $('#login-form').submit(function(e){

                e.preventDefault();

                // window.LOADER.show();

                axios.post('{{ env('API_URL') }}/users/login', $(this).serializeObject())
                    .then(function(resp){

                        // window.LOADER.hide();
                        console.log(resp.data);

                        var user = resp.data.value;

                        Cookies.set('token', user.token);
                        Cookies.set('user', JSON.stringify(user.value));

                        window.location.href = '/';

                        alertify.success("Login effetturato")
                    })
                    .catch(function(err){

                        console.log(err.response);
                        // window.LOADER.hide();

                        alertify.error(err.response.data.errors[0])
                    })

            })

        })()
    </script>  
    {% endcomment %}

{% endblock content%}
