
{% extends "base.html" %}
{% load static %}

{% block content %} 
{% block title %} Loyality card {% endblock %}

<div class="main-content">

    <div class="page-content">

        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h4 class="page-title mb-1">Loyalty card</h4>
                    </div>
                </div>

            </div>
        </div>
       
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="header-title mb-4">Loyalty Cards</h5>
                        {% for message in messages %}
                            <p id="messages">{{message}}</p>
                        {% endfor %}
                        <div class="table-responsive">
                            <table class="table table-centered table-hover mb-0" id="table-list">
                                <thead>
                                <tr>
                                    <th scope="col">Card Number</th>
                                    <th scope="col">Owner Full Name</th>
                                    <th scope="col">Owner Email</th>
                                    <th scope="col">Points accumulated</th>
                                    <th scope="col">Activation date</th>
                                    <th scope="col">State</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for card in cards %}
                                    <tr scope="row">
                                        <td name="card_id">{{ card.id }}</td>
                                        <td>{{ card.user.name }} {{ card.user.surname }}</td>
                                        <td>{{ card.user.email}}</td>
                                        <td>{{ card.points }}</td>
                                        <td>{{ card.created_at }}</td>
                                        <td>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input card-status" {% if card.active %}
                                                checked="checked" {% endif %}
                                                id={{card.id}} name="active" disabled>
                                                <label class="custom-control-label" for={{card.id}}>Active</label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- end page-content-wrapper -->
</div>

    </div>

</div>
    <script>
        function updateStatus(){
            // Ferch card id
            $('.card-status').click(function(e){
                card_id = $(this).data('id');
                alert(card_id);
                // window.LOADER.show();
                //  /api/admin/user/2/describe?description=Non solo permanente
                axios.post('http://127.0.0.1:8000/store?card_id='+card_id+'&status=true')
                    .then(function(){
                        // window.LOADER.hide();
                        console.log('aggiornato');
                        // alertify.success("Descrizione shop aggiornata");
                        // window.location.reload();
                    })
                    .catch(function(err){
                        // window.LOADER.hide();
                        console.log('not updated')
                        // alertify.error(err.response.data.errors[0]);
                    })
            });
        }
    </script>

{% endblock content%}
