
{% extends "base.html" %}
{% load static %}

{% block content %}   
{% block title %} Offer {% endblock %}
<div class="main-content">
    
    <div class="page-content">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h4 class="page-title mb-1">Manage offers</h4>
                    </div>
                </div>

            </div>
        </div>



        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="header-title mb-4">Offers listing</h5>

                                <form id="new-offer-form" method="POST" action="offer">
                                    {% csrf_token %}
                                    {% for message in messages %}
                                        <p id="messages">{{message}}</p>
                                    {% endfor %}
                                    <div class="row offer-details">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input type="text" name="name" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <input type="text" name="description" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        
                                    </div>

                                    <div class="text-right">
                                        <button class="btn btn-success btn-block waves-effect waves-light" type="submit">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="header-title mb-4">Staff</h5>
                                <div class="table-responsive">
                                    <table class="table table-centered table-hover mb-0" id="table-list">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for offer in offers %}
                                            <tr scope="row">
                                                <td>{{ offer.name }}</td>
                                                <td>{{ offer.description }}</td>
                                                <td>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" checked="checked" id="active" name="active">
                                                        <label class="custom-control-label" for="active">Active </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- end page-content-wrapper -->
        </div>

        <!-- End Page-content -->
    </div>
</div>
    {% comment %}
    <script>

        $('#settings-form').submit(function(e){

            e.preventDefault();

            if( true )
            {

                window.LOADER.show();
                axios.post('{{ env('API_URL') }}/admin/configuration/all', $(this).serializeObject())
                    .then(function(){
                        window.LOADER.hide();
                        alertify.success("Impostazioni aggiornate");
                    })
                    .catch(function(){
                        window.LOADER.hide();
                        alertify.error("Impossibile aggiornare");
                    })
            }


        });

    </script>
    {% endcomment %}

{% endblock content%}
