
{% extends "base.html" %}
{% load static %}

{% block content %}   
{% block title %} Offer {% endblock %}
<div class="main-content">

    <div class="page-content">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h4 class="page-title mb-1">Manage offers</h4>
                    </div>
                </div>

            </div>
        </div>



        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="header-title mb-4">Offers listing</h5>

                                <form id="settings-form">
                                    <div class="row offer-details">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="first_name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Description</label>
                                                <input type="text" name="first_name" class="form-control">
                                            </div>

                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                                <label class="custom-control-label" for="customSwitch1">Disable globally</label>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="text-right">
                                        <a href="" class="btn btn-danger mr-2">Update</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- end page-content-wrapper -->
        </div>

        <!-- End Page-content -->
    </div>
</div>
    {% comment %}
    <script>

        $('#settings-form').submit(function(e){

            e.preventDefault();

            if( true )
            {

                window.LOADER.show();
                axios.post('{{ env('API_URL') }}/admin/configuration/all', $(this).serializeObject())
                    .then(function(){
                        window.LOADER.hide();
                        alertify.success("Impostazioni aggiornate");
                    })
                    .catch(function(){
                        window.LOADER.hide();
                        alertify.error("Impossibile aggiornare");
                    })
            }


        });

    </script>
    {% endcomment %}

{% endblock content%}
