

{% extends "base.html" %}
{% load static %}

{% block content %}    
{% block title %} Products {% endblock %}

<div class="main-content">

        <div class="page-content">

        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h4 class="page-title mb-1">Products</h4>
                        <button class="btn btn-secondary" type="button" data-id='{{ product.price}}' data-price="{{ product.price}}" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Modify product
                        </button>  
                        <button class="btn btn-secondary" type="button"  class="btn btn-warning" data-toggle="modal" data-target="#filter-by-offer">
                            Filter By Offers
                        </button>  
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="header-title mb-4">Products List - N. of items: {{products_number}}</h5>
                                        {% for message in messages %}
                                            <p id="messages">{{message}}</p>
                                        {% endfor %}
                                        <div class="table-responsive">
                                            <table class="table table-centered table-hover mb-0" id="table-list" style="padding-top: 30px;">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Delivery fee</th>
                                                    <th scope="col">Stock</th>
                                                    <th scope="col">Category</th>
                                                    <th scope="col">Min. stock</th>
                                                    <th scope="col">Availability</th>
                                                    <th scope="col">Active offer</th>
                                                    <th scope="col">Offer id</th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for product in products %}
                                                <tr>
                                                    <td>{{ product.id }}</td>
                                                    <td>{{ product.name }}</td>
                                                    <td>{{ product.price }}</td>
                                                    <td>{{ product.delivery_fee }}</td>
                                                    <td>{{ product.stock }}</td>
                                                    <td>{{product.category.name}}</td>
                                                    <td>{{product.minimum_stock}}</td>
                                                    <td>
                                                        {% if product.stock  == 0 %}
                                                            <button type="button" class="btn btn-danger">Out of stock</button>
                                                        {% elif product.stock  > product.minimum_stock %}
                                                            <button type="button" class="btn btn-success">Available</button>
                                                        {% else %}                                                            
                                                            <button type="button" class="btn btn-warning">Need to reorder</button>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{product.offer.name}}
                                                    </td> 
                                                    <td>
                                                        {{product.offer.id}}
                                                    </td> 
                                                </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- end page-content-wrapper -->
        </div>

    </div>


    <!--Modal-->
    <div class="modal fade" id="filter-by-offer" tabindex="-1" role="dialog" aria-labelledby="filter-by-offer" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <form method="POST" action="filterProductByOffer">
                {% csrf_token %}
                {% for message in messages %}
                    <p id="messages">{{message}}</p>
                {% endfor %}
                <div class="modal-body">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="offer_id">Filter by offer Id</label>
                                    <input type="number" min="0" step="1" class="form-control" name="offer_id"  required/>
                                </div>
                                <p>List of offers</p>
                                <table class="table table-primary">
                                    <thead>
                                      <tr>
                                        <th scope="col">Offer id</th>
                                        <th scope="col">Offer Name</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for offer in offers %}
                                            <tr>
                                                <td>{{ offer.id }}</td>
                                                <td>{{ offer.name }}</td>
                                            </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                 

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="filterProductByOffer">                        
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <form method="post" action="updateProductPrice">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" min="0.1" step="0.01" class="form-control" name="price" :value="price" required/>
                    </div>
                    <div class="form-group">
                        <label for="id">Product Id:</label>
                        <input type="number" min="0" step="1" class="form-control" name="id" :value="id" required/>
                    </div>
                    <div class="form-group">
                        <label for="delivery_fee">Delivery fee:</label>
                        <input type="number" min="0.0" step="0.1" class="form-control" name="delivery_fee" :value="delivery_fee" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="product">                        
                        <button type="submit" class="btn btn-primary">Save</button>
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>

   
{% endblock content%}
