

{% extends "base.html" %}
{% load static %}

{% block content %}    
{% block title %} Products {% endblock %}

<div class="main-content">

        <div class="page-content">

        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h4 class="page-title mb-1">Products</h4>
                        <button class="btn btn-warning" type="button" data-id='{{ product.price}}' data-price="{{ product.price}}" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Update price
                        </button>  

                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="header-title mb-4">Products</h5>

                                        <div class="table-responsive">
                                            <table class="table table-centered table-hover mb-0" id="table-list" style="padding-top: 30px;">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Stock</th>
                                                    <!-- <th scope="col">Availability</th> -->
                                                    <th scope="col">Category</th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for product in products %}
                                                <tr>
                                                    <td>{{ product.id }}</td>
                                                    <td>{{ product.name }}</td>
                                                    <td>{{ product.price }}</td>
                                                    <td>{{ product.stock }}</td>
                                                    <td>{{product.category.name}}</td>
                                                    <!-- <td>
                                                        <div class="custom-control custom-switch">
                                                            <input type="checkbox"  {%if product.available %} checked="checked" {% endif %}
                                                             class="custom-control-input" id="customSwitch1">
                                                            <label class="custom-control-label" for="customSwitch1">Edit</label>
                                                        </div>
                                                          
                                                    </td> -->
                                                </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- end page-content-wrapper -->
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <form method="post" action="product">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" min="0.1" step="0.01" class="form-control" name="price" :value="price" required/>
                    </div>
                    <div class="form-group">
                        <label for="id">Product Id</label>
                        <input type="number" min="0" step="1" class="form-control" name="id" :value="id" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="product">                        
                        <button type="submit" class="btn btn-primary">Save</button>
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <script>
        $('.edit-price').click(function(e){
            product_id = $(this).data('id');
        });

        $('#update').click(function(e){
                e.preventDefault();

                window.LOADER.show();
                //  /api/admin/user/2/describe?description=Non solo permanente
                axios.post("127.0.0.1:8000/product")
                    .then(function(){
                        // window.LOADER.hide();
                        // alertify.success("Descrizione shop aggiornata");
                        window.location.reload();
                    })
                    .catch(function(err){
                        window.LOADER.hide();
                        //alertify.error(err.response.data.errors[0]);
                    })

            });
    </script>
    {% comment %}



    <script>
        (function(){

            var user_id;

            $('#table-list').DataTable({
                order: [1, 'desc']
            });


            $('.edit-description').click(function(e){
                user_id = $(this).data('id');
                $("#description_shop").val($(this).data('description'))
            });

            $('#update').click(function(e){
                e.preventDefault();

                window.LOADER.show();
                //  /api/admin/user/2/describe?description=Non solo permanente
                axios.post('{{ env('API_URL') }}/admin/user/'+user_id+'/describe?description='+$("#description_shop").val())
                    .then(function(){
                        // window.LOADER.hide();
                        alertify.success("Descrizione shop aggiornata");

                        window.location.reload();
                    })
                    .catch(function(err){

                        window.LOADER.hide();

                        alertify.error(err.response.data.errors[0]);
                    })

            });



            $(document)
                .on('click', '.show-alert', function(e){
                    e.preventDefault();
                    Swal.fire({
                        title: "Non è possibile personificare un utente bannato",
                        // text: "You won't be able to revert this!",
                        icon: "info",
                        confirmButtonColor: "#3ddc97",
                        confirmButtonText: "Ok",
                    })
                })
                .on('click','.action-approve', function(e){
                    e.preventDefault();

                    var self = $(this);

                    Swal.fire({
                        title: "Attivare l'utente?",
                        // text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: !0,
                        confirmButtonColor: "#3ddc97",
                        cancelButtonColor: "#f46a6a",
                        confirmButtonText: "Conferma",
                        cancelButtonText: "Annulla"
                    }).then(function (t) {

                        if( t.value )
                        {
                            window.LOADER.show();

                            axios.post(self.attr('href')+'?active=1')
                                .then(function(){
                                    // window.LOADER.hide();
                                    // self.toggleClass('btn-danger btn-info');
                                    // self.find('i').toggleClass('fa-lock fa-lock-open');
                                    alertify.success("Stato utente aggiornato");
                                    window.location.reload();

                                })
                                .catch(function(err){

                                    console.log(err);

                                    window.LOADER.hide();

                                    alertify.error("Impossibile aggiornare lo stato");
                                })

                        }
                        // t.value && Swal.fire("Deleted!", "Your file has been deleted.", "success")
                    });

                })
                .on('click','.action-blacklist, .action-unblacklist', function(e){

                    e.preventDefault();


                    var $this = $(this),
                        isBlocked = $(this).hasClass('action-blacklist'),
                        text = isBlocked ? 'Bloccare' : 'Sbloccare',
                        // conf = confirm(text + " l'utente?"),
                        self = $(this);

                    Swal.fire({
                        title: text + " l'utente?",
                        // text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: !0,
                        confirmButtonColor: "#3ddc97",
                        cancelButtonColor: "#f46a6a",
                        confirmButtonText: "Conferma",
                        cancelButtonText: "Annulla"
                    }).then(function (t) {

                        if( t.value )
                        {


                            window.LOADER.show();
                            axios.post($this.attr('href')+'?blacklist='+(isBlocked ? 1 : 0))
                                .then(function(){
                                    // window.LOADER.hide();
                                    // self.toggleClass('btn-danger btn-info');
                                    // self.find('i').toggleClass('fa-lock fa-lock-open');
                                    alertify.success("Stato utente aggiornato");
                                    window.location.reload()

                                })
                                .catch(function(err){

                                    console.log(err);

                                    window.LOADER.hide();

                                    alertify.error("Impossibile aggiornare lo stato");
                                })

                        }
                    });

                });

        })()
    </script>
    {% endcomment %}

{% endblock content%}
